.logo span {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

h3 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 264px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

p.list {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.button {
    color: #FFFFFF;
    background: var(--IRIS, #4D5AE5);
    border-radius: 4px;
    border: none;
   
}

.button:hover {
    color: #4D5AE5;
    transition: 0.30s ease;
    cursor: pointer;
}

.logo {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}

nav .logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

nav ul.list a.header {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.top-line .header:hover,
.top-line .header:focus {
    color: #4D5AE5;
    transition: 0.30s ease;
}

.bg-dark {
    background-color: #2E2F42;
}

ul.list {
    text-decoration: none;
    padding-left: 0;
}

header ul.list li a{
    text-decoration: none;
}

header ul.list li a {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

footer .logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

footer {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}